@import "tailwindcss";

@theme {
  --color-primary: #0F52BA;
  --color-secondary: #2E8B57;
  --color-warning: #D32F2F;
  --color-background: #F9FAFB;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-gray-900 font-sans;
  }
}
